.button {
    cursor: pointer;
    color: var(--primary-color);
    width: 40px;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.square {
    aspect-ratio: 1/1;
}

