.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #05278f;
    --secondary-color: #1a59e1;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --navbar-height: 50px;
}
